body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: rgb(127, 180, 146);
  color: #f5f6f7;
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: #fecc4c;
  border: 2px solid #feac32;
}

button,
input,
select {
  min-height: 24px;
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}